body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #055142;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex: 1;
    max-width: 800px;
    margin: 80px auto 40px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeInListItem 0.8s forwards;
}
h1,
h2 {
    color: #055142;
}
ul {
    padding-left: 1.5rem;
}
@keyframes fadeInListItem {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
a {
    color: #055142;
}
