:root{
    --primary-bg-color: #1d3b0b;
    --primary-text-color: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
